@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
}

.container {
    background-color: hsl(148, 38%, 91%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form {
    background-color: hsl(0, 0%, 100%);
    width: 40%;
    height: 90vh;
    border-radius: 10px;
    padding: 40px;
}

form .form-name {
    /* background-color: lightblue;  */
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.form-firstname {
    /* background-color: lightblue; */
    width: 50%;
    margin-top: 5px;
}

.form-firstname input.firstname {
    width: 100%;
    padding: 10px;
    margin-top: 10px;   
}

.form-lastname {
    /* background-color: lightcoral; */
    width: 50%;
    margin-top: 5px;
}

.form-lastname input.lastname {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

/* input.firstname {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
} */

/* input.lastname {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
} */

.form-email {
    /* background-color: lightblue; */
    margin-bottom: 20px;
}

.form-email input.email {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

/* .form-query {
    background-color: lightblue;
} */

.form-general:active {
    background-color: hsl(148, 38%, 91%);
    outline: 1px solid hsl(186, 15%, 59%);
}

.form-general:focus {
    background-color: hsl(148, 38%, 91%);
    outline: 1px solid hsl(186, 15%, 59%);
}

.form-general:hover {
    background-color: hsl(148, 38%, 91%);
    outline: 1px solid hsl(186, 15%, 59%);
}

.form-support:active {
    background-color: hsl(148, 38%, 91%);
    outline: 1px solid hsl(186, 15%, 59%);
}

.form-support:focus {
    background-color: hsl(148, 38%, 91%);
    outline: 1px solid hsl(186, 15%, 59%);
}

.form-support:hover {
    background-color: hsl(148, 38%, 91%);
    outline: 1px solid hsl(186, 15%, 59%);
}

.form-query .form-query-flex {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.form-query-flex .form-general {
    width: 25rem;
    padding: 15px;
    border: 1px solid hsl(186, 15%, 59%);
    border-radius: 10px;
    vertical-align: middle;
}

.form-query-flex .form-support {
    width: 25rem;
    padding: 15px;
    border: 1px solid hsl(186, 15%, 59%);
    /* background-color: rebeccapurple; */
    border-radius: 10px ;
    vertical-align: middle;
}

/* .form-query .form-general {
    background-color: lightcoral;
} */

.form-message {
    margin-top: 20px;
    /* background-color: lightblue; */
}

textarea {
    width: 100%;
    height: 10vh;
    margin-top: 10px;
    border: 1px solid hsl(186, 15%, 59%);
    border-radius: 5px;
    padding: 20px;
}

textarea:active {
    /* background-color: hsl(148, 38%, 91%); */
    outline: 2px solid hsl(186, 15%, 59%);
}

textarea:focus {
    /* background-color: hsl(148, 38%, 91%); */
    outline: 2px solid hsl(186, 15%, 59%);
}

textarea:hover {
    /* background-color: hsl(148, 38%, 91%); */
    outline: 2px solid hsl(186, 15%, 59%);
}

.form-checkbox {
    /* background-color: lightblue; */
    margin-top: 25px;
    margin-bottom: 25px;
}

.form-checkbox label.checkbox {
    font-size: 14px;
    padding-left: 20px;
}

input[type=checkbox] {
    border: 20px solid black;
}

input.box {
    vertical-align: middle;
}



/* .form-button {
    background-color: lightblue;
} */

input.button {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: hsl(169, 82%, 27%);
    color: white;
}

input.button:hover {
    background-color: hsl(169, 50%, 27%);
}


h1 {
    font-weight: 700;
}

input {
    border-radius: 5px;
    border: 1px solid hsl(186, 15%, 59%);
    /* color: white; */
}

label {
    font-size: 16px;
    font-weight: 400;
    color: hsl(186, 15%, 59%);
}

label::after {
    content: "*";
    color: hsl(169, 82%, 27%);
}

label.general::after {
    content: none;
}

label.support::after {
    content: none;
}

input:focus {
    outline: 2px solid hsl(186, 15%, 59%);
    border: 2px solid hsl(148, 38%, 91%);
}

input:active {
    outline: 2px solid hsl(186, 15%, 59%);
    border: 2px solid hsl(148, 38%, 91%);
}



/* Desktop */

@media screen and (max-width: 992px) {
    /* .container {
        background-color: red;
    } */

    .container {
        background-color: hsl(148, 38%, 91%);
        width: 100%;
        height: 120vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container form {
        background-color: hsl(0, 0%, 100%);
        width: 60%;
        height: auto;
        border-radius: 10px;
        padding: 40px;
    }

    .form-name {
        margin-top: 25px;
        width: 100%;
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
        gap: 10px;
        margin-bottom: 20px;
    }

    .form-firstname input.firstname {
        width: 100%;
        padding: 10px;
        margin-top: 10px;   
    }

    .form-lastname input.lastname {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
    }

    .form-query .form-query-flex {
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
        gap: 10px;
        margin-top: 10px;
    }

    .form-query-flex .form-general {
        width: 25rem;
        padding: 15px;
        border: 1px solid hsl(186, 15%, 59%);
        border-radius: 10px;
        vertical-align: middle;
    }

    .form-query-flex .form-support {
        width: 25rem;
        padding: 15px;
        border: 1px solid hsl(186, 15%, 59%);
        /* background-color: rebeccapurple; */
        border-radius: 10px ;
        vertical-align: middle;
    }

    textarea {
        width: 100%;
        height: 30vh;
        margin-top: 10px;
        border: 1px solid hsl(186, 15%, 59%);
        border-radius: 5px;
        padding: 20px;
    }

}

@media screen and (max-width: 768px) {
    /* .container {
        background-color: red;
    } */

    .container {
        background-color: hsl(148, 38%, 91%);
        width: 100%;
        height: 140vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container form {
        background-color: hsl(0, 0%, 100%);
        width: 90%;
        height: auto;
        border-radius: 10px;
        padding: 40px;
    }

    .form-name {
        margin-top: 25px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }

    .form-firstname input.firstname {
        width: 200%;
        padding: 10px;
        margin-top: 10px;   
    }

    .form-lastname input.lastname {
        width: 200%;
        padding: 10px;
        margin-top: 10px;
    }

    .form-query .form-query-flex {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .form-query-flex .form-general {
        width: auto;
        padding: 15px;
        border: 1px solid hsl(186, 15%, 59%);
        border-radius: 10px;
        vertical-align: middle;
    }

    .form-query-flex .form-support {
        width: auto;
        padding: 15px;
        border: 1px solid hsl(186, 15%, 59%);
        /* background-color: rebeccapurple; */
        border-radius: 10px ;
        vertical-align: middle;
    }

    textarea {
        width: 100%;
        height: 30vh;
        margin-top: 10px;
        border: 1px solid hsl(186, 15%, 59%);
        border-radius: 5px;
        padding: 20px;
    }

}

@media screen and (max-width: 480px) {
    /* .container {
        background-color: red;
    } */

    .container {
        background-color: hsl(148, 38%, 91%);
        width: 100%;
        height: 140vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container form {
        background-color: hsl(0, 0%, 100%);
        width: 90%;
        height: auto;
        border-radius: 10px;
        padding: 40px;
    }

    .form-name {
        margin-top: 25px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }

    .form-firstname input.firstname {
        width: 200%;
        padding: 10px;
        margin-top: 10px;   
    }

    .form-lastname input.lastname {
        width: 200%;
        padding: 10px;
        margin-top: 10px;
    }

    .form-query .form-query-flex {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .form-query-flex .form-general {
        width: auto;
        padding: 15px;
        border: 1px solid hsl(186, 15%, 59%);
        border-radius: 10px;
        vertical-align: middle;
    }

    .form-query-flex .form-support {
        width: auto;
        padding: 15px;
        border: 1px solid hsl(186, 15%, 59%);
        /* background-color: rebeccapurple; */
        border-radius: 10px ;
        vertical-align: middle;
    }

    textarea {
        width: 100%;
        height: 30vh;
        margin-top: 10px;
        border: 1px solid hsl(186, 15%, 59%);
        border-radius: 5px;
        padding: 20px;
    }

}

/* this is a comment */